<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ligtas">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ligtas"
        tools:targetApi="31">
        <activity
            android:name=".ui.stayHealthy.Day7BeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.Day6BeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.Day5BeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.Day4BeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.Day3BeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.Day2BeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.Day1BeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.BeginnerWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.DrinkWaterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.WaterIntakeReminderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.WaterIntakeGoalActivity"
            android:exported="false" />
        <activity
            android:name=".HealthInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.WorkoutPlansActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.DietPlansActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.WaterIntakeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.monitorHealth.GenerateQrCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.monitorHealth.DailySelfAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddressInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.termsAndConditions.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.privacyPolicy.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.monitorHealth.MonitorYourHealthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stayHealthy.StayHealthyActivity"
            android:exported="false" />
        <activity
            android:name=".UserNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_user_navigation"
            android:theme="@style/Theme.Ligtas.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".SetProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".UserVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".ui.stayHealthy.WaterIntakeNotificationPublisher" />
    </application>

</manifest>